<div class="container">
	<div class="col12">
		<div class="week-container">
			<a href="#" class="navigator left"><i></i></a>
			<a href="#" class="navigator right"><i></i></a>
			<div class="header">
				<div class="details-head">
					London Office
					Desk One
				</div>
				<div class="days">
					<div class="range">
						<span>14 - 18 Oct</span>
					</div>
					<div class="date">14</div>
					<div class="date">15</div>
					<div class="date">16</div>
					<div class="date">17</div>
					<div class="date">18</div>
				</div>
			</div>
			<div class="desk">
				<div class="details">
					London Office
					Desk One
				</div>
				<div class="day"><div class="assignment"><span>Android</span></div></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="clear"></div>
			</div>

			<div class="desk">
				<div class="details">
					London Office
					Desk One
				</div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>