<div class="container">
	<div class="col12">
		<div class="week-container">
			<a href="#" class="navigator left"><i></i></a>
			<a href="#" class="navigator right"><i></i></a>
			<div class="header">
				<div class="details-head">
					Desks
				</div>
				<div class="days">
					<div class="range">
						<span>{{ days[0] | date : 'd'}} - {{ days[6] | date : 'd'}} Oct</span>
					</div>
					<div ng-repeat="day in days" class="date">{{ day | date : 'd'}}</div>
				</div>
			</div>
			<div ng-repeat="desk in desks" class="desk">
				<div class="details">
					{{ desk.location }}
				</div>
				<div class="allocation">
					<div ng-repeat="assignment in desk.bookings" class="assignment"><span>Android</span></div>
					<div class="day"></div>
					<div class="day"></div>
					<div class="day"></div>
					<div class="day"></div>
					<div class="day"></div>
					<div class="day"></div>
					<div class="day"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>